/* box-sizing & margin rese */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

table {
	border-spacing: 0;
}

td {
	width: 80px;
	height: 80px;
	background: #000;
}

tr:nth-child(odd) td:nth-child(even),
tr:nth-child(even) td:nth-child(odd) {
	background: #fff;
}
