/* ////////////////////////////////////////////////////////////////////////////////*/
/* #COMVERSE STYLE GUIDE */
/* ////////////////////////////////////////////////////////////////////////////////*/

/* #FONT IMPORT */

@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/* #BASIC RESET */

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Arimo', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

/* ////////////////////////////////////////////////////////////////////////////////*/
/* #STYLE GUIDE HEADINGS ONLY - FOR VIEWING THE DOC - REMOVE FROM DESIGN */

body {
	background: #e0e0e0;
}

.wrapper {

}

.blue {
	background: #59bedb;
}

.footer {
	background: #000;
}



.style-guide-heading {
	font: arial 2em/2;
	color: #9b9b9b;
	border-bottom: 1px solid #9b9b9b;
	margin: 10px 0 30px 0;
}

h1.style-guide-heading {
	font-size: 2.2em;

}

h2.style-guide-heading  {
	font-size: 1.8em;
	font-weight: bold;
	margin-top: 50px;
	border-width: 2px;
}

h3.style-guide-heading  {
	font-size: 1.4em;
}

h4.style-guide-heading  {
	font-size: 1.2em;
}
/* ////////////////////////////////////////////////////////////////////////////////*/



/* ////////////////////////////////////////////////////////////////////////////////*/
/* #BRAND */
/* ////////////////////////////////////////////////////////////////////////////////*/

/* #LOGO */

.brand {
	width: 165px;
	height: 62px;
	display: block;
}





/* ////////////////////////////////////////////////////////////////////////////////*/
/* #HEADINGS */
/* ////////////////////////////////////////////////////////////////////////////////*/

/* #H2 HEADING */

h2 {
    font-size: 4.2em;
    line-height: 1.5;
	font-weight: 400;
}

.carousel-heading {
	color: #fff;
}

.section-heading {
	text-transform: uppercase;
}

.section-heading.light {
	color: #fff;
}

/* #H3 HEADING */

h3 {
	font-size: 3.6em;
	line-height: 1.5;
	font-weight: 400;
}

.event-item-heading {
	color: #fff;
	text-transform: uppercase;

}





/* ////////////////////////////////////////////////////////////////////////////////*/
/* #LISTS */
/* ////////////////////////////////////////////////////////////////////////////////*/

/* #NAVIGATION */

.navigation {
	list-style-type: none;
	font-size: 1.3em;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.navigation li {
	float: left;
	border-left: 1px solid #d0d0d0;
	padding: 0 10px;
}

.navigation li:first-child {
	border: 0;
	padding-left: 0;
}

.navigation a:link,
.navigation a:visited {
	color: rgb(88, 89, 81);
	text-decoration: none;
}

.navigation a:hover,
.navigation a:active,
.navigation a:focus {
	color: rgb(51, 153, 204);
}

/* #SITEMAP LIST */

.sitemap-list {
	list-style-type: none;
	font-size: 1.4em;
	padding: 0;
	margin: 0;
	color: #fff;
}

.sitemap-list-title {
	color: #fff;
	font-size: 1.6em;
	line-height: 1.5;
	font-weight: 400;
	margin: 0 0 12px;
	text-transform: uppercase;
}

.sitemap-list li {
	margin: 0 0 7px;
}

.sitemap-list a,
.sitemap-list a:link,
.sitemap-list a:visited {
	text-decoration: none;
	color: #fff;
}

.sitemap-list a:hover,
.sitemap-list a:active,
.sitemap-list a:focus {
	text-decoration: underline;
}

/* #SUB NAVIGATION */

.sub-navigation {
	list-style-type: none;
	font-size: 1.3em;
	padding: 0;
	margin: 0;
	color: #969696;
}

.sub-navigation li {
	border-left: 1px solid #969696;
	float: left;
	padding: 0 8px;
}

.sub-navigation li:first-child {
	border: none;
	padding-left: 0;
}

.sub-navigation a,
.sub-navigation a:link,
.sub-navigation a:visited {
	color: #969696;
	text-decoration: none;
}

.sub-navigation a:hover,
.sub-navigation a:active,
.sub-navigation a:focus {
	text-decoration: underline;
}





/* ////////////////////////////////////////////////////////////////////////////////*/
/* #FORMS */
/* ////////////////////////////////////////////////////////////////////////////////*/

/* #SEARCHBOX */

.searchbox {
	display: inline-block;
	background: #fff;
	border: 1px solid #d2d2d2;
	width: 150px;
	border-radius: 5px;
}

.searchbox .submit {
	background: url(../img/searchBtn.png) no-repeat center center;
	display: inline-block;
	width: 26px;
	height: 20px;
	float: right;
	border: none;
	border-left: 1px solid #d0d0d0;
	cursor: pointer;
}

.searchbox input,
.searchbox input:focus {
	background: none;
	width: 122px;
	padding: 2px 5px;
	overflow: hidden;
	border: none;
	float: left;
	display: inline-block;
	color: #585951;
	font-size: 1.3em;
}





/* ////////////////////////////////////////////////////////////////////////////////*/
/* #BUTTONS */
/* ////////////////////////////////////////////////////////////////////////////////*/

/* #PRIMARY_BUTTON */

.button {
	font-size: 1.6em;
	padding: 5px 10px;
	border-radius: 5px;
	background: rgba(33, 144, 199, 0.8);
	border: 0;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2); 

}

a.button ,
a.button:link,
a.button:visited,
a.button:hover,
a.button:active,
a.button:focus {
	color: #fff;
	text-decoration: none;
}

a.button:after {
	content:url(../img/btnArrow.png);
	margin-left: 20px;
}

.primary-button {
	display: inline-block;
	text-transform: uppercase;
}





/* ////////////////////////////////////////////////////////////////////////////////*/
/* #MODULES */
/* ////////////////////////////////////////////////////////////////////////////////*/

/* #INFO BOX */

.info-box {
	display: inline-block;
	width: 290px;
	height: 175px;
	border-radius: 6px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.5);
	padding: 20px 12px 0;
}

.info-box h4 {
	height: 120px;
	margin: 0;
	padding: 0;
	font-size: 2.4em;
	line-height: 1.2;
	font-weight: 400;
	color: #fff;
}

.info-box-footer-link {
	display: block;
	height: 35px;
	line-height: 35px;
	vertical-align: top;
}

.info-box-footer-link a {
	color: #fff;
	font-size: 1.4em;
	text-decoration: none;
	display: inline-block;
	vertical-align: top;
}

.info-box-footer-link a:hover {
	text-decoration: underline;
}

.info-box-icon {
	display: inline-block;
}

.orange {
	background: rgba(225, 116, 20, 0.8);
}

/* #EVENT BOX */

.event-box {
	width: 300px;
	height: 120px;
	margin-bottom: 10px;
	padding: 10px;
	background: rgba(256, 256, 256, 0.4);
	border-radius: 3px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.event-box p {
	font-size: 1.6em;
	line-height: 1.3;
	margin: 0;
	color: #1a1a1a;
}

.event-date {
	width: 70px;
	float: left;
	margin-right: 10px;
	text-align: center;
	background: #3399cc;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.2) inset, 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}

.event-date .event-day {
	font-size: 3.6em;
	line-height: 1.5;
	height: 65px;
	border-bottom: 1px dotted #fff;
}

.event-date .event-month {
	font-size: 1.8em;
	line-height: 1.3;
	height: 35px;
	text-transform: uppercase;
}

.view-all-link {
	font-size: 1.4em;
	line-height: 1;
	color: #fff;
	display: inline-block;
	vertical-align: top;
}

.view-all-link:link,
.view-all-link:hover,
.view-all-link:visited,
.view-all-link:active,
.view-all-link:focus {
	text-decoration: none;
}

.view-all-link.news:before {
	content: url(../img/eventListIconNews.png);
	display: inline-block;
	margin-right: 5px;
}

/* #TESTIMONIALS BOX */

.testimonials-box {
	background: #fff;
	display: inline-block;
}

.small-box {
	width: 108px;
}

.medium-box,
.large-box {
	padding: 10px;
}

.medium-box {
	width: 	226px;
}

.large-box {
	width: 	350px;
}

.testimonials-box blockquote {
	font-size: 1.8em;
	line-height: 1.6;
	color: #6d6d6d;
	margin: 0 0 7px 0;
	float: left;
}

.testimonials-box blockquote:before,
.testimonials-box blockquote:after {
	content: url(../img/quote-grey.png);
}

.testimonials-box blockquote:before {
	margin-right: 7px;
}

.testimonials-box blockquote:after {
	margin-left: 7px;
}

.large-box blockquote {
	width: 	210px;
	margin-left: 10px;
}

.testimonials-info {
	width: 100%;
	border-top: 1px solid #dddddd;
	padding-top: 7px;
	float: left;
}

.testimonials-auther {
	width: 130px;
	height: 40px;
	float: left;
}

.testimonials-auther .name, 
.testimonials-auther .position {
	font-size: 1.3em;
	line-height: 1.5;
	margin: 0;
	text-transform: uppercase;
}

.testimonials-auther .name {
	color: #47ACDD;
} 

.testimonials-auther cite {
	font-style: normal;
}

.testimonials-auther-logo {
	float: right;
}

.testimonials-auther-profile-picture {
	float: left;
}





/* ////////////////////////////////////////////////////////////////////////////////*/
/* #ICONS */
/* ////////////////////////////////////////////////////////////////////////////////*/

/* #SOLUTIONS ICON */

.solutions-bullets {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.solution-item {
	width: 160px;
	float: left;
}

.solution-item p {
	color: #fff;
	font-size: 1.6em;
	line-height: 1.3;
	text-align: center;
	margin: 10px;
}

.solution-item img {
	display: block;
	margin: 0 auto;
}
